@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}

<div class="container">
    <a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <br />
    <table class="table table-bordered">
        <tr>

            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Stock</th>
            <th>Sil</th>
            <th>Getir</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td> @item.ID</td>
                <td> @item.ProductName </td>
                <td> @item.Price tl</td>
                <td> @item.Stock</td>
                <td><a href="/Default/GetProduct/@item.ID" class="btn btn-dark">Getir </a></td>

                <td><a href="/Default/DeleteProduct/@item.ID" class="btn btn-danger">Sil</a></td>

                <td><a href="/Default/UpdateProduct/@item.ID" class="btn btn-warning">Ürünü Güncelle </a></td>

            </tr>
        }

    </table>
    <a href="/Default/AddProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>


</div>